@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-sans;
}

html {
  scroll-behavior: smooth;
}